body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
    height: 20vh; 
    width: 100vw; 
    overflow: hidden;
}

#header img { 
	top: -0vw;
}

div.ui.borderless.main.menu {
	margin-top: 0px;
}

.HomeContainer {
	min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  padding-left: 5vw;
  padding-right: 16vw;
}